{# 引入jQuery #}
<script type="text/javascript" src="/assets/js/jquery.min.js"></script>

{# 代码折叠 #}
<script type="text/javascript" src="/assets/js/fold_action.js"></script>

{# pjax 回调 #}
<script type="text/javascript" src="/assets/js/pjax_event.js"></script>
