{# Switch favicon for light/dark mode #}
<!-- 默认 favicon 设置为 Light 模式 -->
<link id="favicon-32" rel="icon" type="image/png" sizes="32x32" href="/images/tag_32_light.png">
<link id="favicon-64" rel="icon" type="image/png" sizes="64x64" href="/images/tag_64_light.png">
<script type="text/javascript" src="/assets/js/favicon_theme.js"></script>

{# Load comments of posts #}
<script type="text/javascript" src="/assets/js/load_comments.js"></script>

{# Google AdSense #}
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5605969414787804" crossorigin="anonymous"></script>
