/* GLOBAL STYLES
-------------------------------------------------- */

:root {
  --fg-color: #495057;
  --bg-color: #FFFFFF;
  --footer-height: 3.6rem;
  --footer-border: 1px solid rgba(0, 0, 0, 0.123);
}

body {
  color: var(--fg-color);
  background: var(--bg-color);
  min-width: 300px;
}

footer {
  border-top: var(--footer-border);
  min-height: var(--footer-height);
}

.footer-blur {
  -webkit-backdrop-filter: saturate(150%) blur(1rem) !important;
  backdrop-filter: saturate(150%) blur(1rem) !important;
  background-color: rgba(255, 255, 255, 0.4) !important;
}

/* LOADING MASK
-------------------------------------------------- */

aside {
  z-index: 100000;
  opacity: 1;
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-align: center;
  background-color: #f8f9fa;
}

aside h1 {
  font-family: "Times New Roman", "Courier New", serif;
  height: calc(100vh - 50px);
  line-height: 100vh;
}

.fade-leave-active,
.fade-leave-to,
.fade-enter {
  transition: all 0.3s ease-in;
  opacity: 0;
}

.fade-enter-active,
.fade-enter-to,
.fade-leave {
  transition: all 0.3s ease-in;
  opacity: 1;
}

/* SCROLLBAR
-------------------------------------------------- */

:root {
  --scrollbar-width: .5rem;
}

html {
  overflow-y: overlay;
}

/* Scrollbar overall */
::-webkit-scrollbar {
  width: var(--scrollbar-width);
  height: 0;
}

/* Scrollbar track */
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Scrollbar thumb */
::-webkit-scrollbar-thumb {
  border-radius: calc(var(--scrollbar-width) / 2);
  background-color: rgba(188, 188, 188, 0.3);
}

/* Hide top button of the scrollbar */
::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:single-button:vertical:decrement {
  height: 0;
  display: none;
}

/* Bottom button of the scrollbar */
::-webkit-scrollbar-button:end:increment,
::-webkit-scrollbar-button:single-button:vertical:increment {
  height: var(--footer-height);
  border-top: var(--footer-border);
}

/* Page Styles
------------------------- */

.main-color {
  color: var(--fg-color) !important;
}

.gray-scale {
  filter: grayscale(96%) !important;
}

.no-space {
  font-size: 0 !important;
}

.email-link {
  text-decoration: underline !important;
  text-decoration-color: transparent !important;
  transition: text-decoration-color .2s ease-in-out !important;
}

.email-link:hover {
  text-decoration-color: inherit !important;
}

.title-link:hover {
  opacity: .8 !important;
}

/* TITLE
-------------------------------------------------- */

:root {
  --title-shift-v: .65rem;
  --title-shift-h: 1.1rem;
}

hgroup {
  margin-left: -.4rem;
}

hgroup .upper {
  position: absolute;
  z-index: 600;
  color: var(--fg-color);
  opacity: .95;
  padding-bottom: var(--title-shift-v);
  font-family: QiSubsets, sans-serif;
}

hgroup .lower {
  position: absolute;
  z-index: 500;
  color: var(--fg-color);
  opacity: .18;
  padding-top: var(--title-shift-v);
  padding-left: var(--title-shift-h);
  font-family: BernierRegular, sans-serif;
}

hgroup .filler {
  z-index: 400;
  visibility: hidden;
  color: transparent;
  padding-bottom: var(--title-shift-v);
}

/* PROFILE: Name
-------------------------------------------------- */

#name {
  zoom: 1.2;
  margin-bottom: 0;
}

#name #li {
  margin-left: -.08rem;
  vertical-align: top;
}

#name #mu {
  zoom: 0.8;
  margin-left: .35rem;
  vertical-align: baseline;
}

#name #han {
  zoom: 1.1;
  margin-left: .25rem;
  vertical-align: middle;
}

#name #sp {
  margin-right: .2rem;
}

#profile th {
  padding-left: 0;
  width: 0;
  height: 2.1rem;
  vertical-align: top;
}

#profile th, #profile td {
  color: var(--fg-color);
}

.table-compact > :not(caption) > * > * {
  padding: .25rem
}

/* PROFILE: Scrollable gallery
-------------------------------------------------- */

:root {
  --fade-width-l: 7%;
  --fade-width-r: 7%;
  --image-width: 13%; /* of the container */
  --image-margin: 1%; /* 15% total width each, 7 images shown at a time */
}

.mask, .scroll-container {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}

.mask::before, .scroll-container::before, .scroll-container::after {
  z-index: 100;
  position: absolute;
  top: 0;
  bottom: 0;
  content: '';
}

.mask::before {
  z-index: 200;
  width: 100%;
  background: var(--bg-color);
  opacity: .16;
}

.scroll-container img {
  display: inline-block;
  aspect-ratio: 1;
  width: var(--image-width);
  margin: var(--image-margin);
}

/* RESPONSIVE CSS
-------------------------------------------------- */

/* Bootstrap "sm" breakpoint */
@media (min-width: 576px) {
  hgroup {
    margin-left: calc(-1 * var(--title-shift-h));
  }

  .scroll-container::before {
    left: 0;
    width: var(--fade-width-l);
    background: linear-gradient(to right, var(--bg-color), transparent);
  }

  .scroll-container::after {
    right: 0;
    width: var(--fade-width-r);
    background: linear-gradient(to left, var(--bg-color), transparent);

  }
}

/* Bootstrap "md" breakpoint */
@media (min-width: 768px) {
  #name {
    zoom: 1.1;
  }

  #profile th {
    height: 2.6rem;
  }

  .table-compact > :not(caption) > * > * {
    padding: .5rem
  }

  .mask::before {
    opacity: .11;
  }
}
