/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
}

.body-color {
    color: #5a5a5a;
}

section > h1 {
  font-family: "Times New Roman", Times, "Courier New", Courier, serif;
  height: calc(100vh - 50px);
  line-height: 100vh;
}

section {
  z-index: 100000;
  opacity: 1;
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-align: center;
  background-color: #f8f9fa;
}

.fade-leave-active,
.fade-leave-to,
.fade-enter {
  transition: all 0.3s ease-in;
  opacity: 0;
}

.fade-enter-active,
.fade-enter-to,
.fade-leave {
  transition: all 0.3s ease-in;
  opacity: 1;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
}

.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}

.marketing h2 {
  font-weight: 400;
}

/* rtl:begin:ignore */
.marketing .col-lg-4 p {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
}

/* rtl:end:ignore */

/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* space out the bootstrap <hr> more */
}

.featurette-divider-min {
  margin: 1rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  /* rtl:remove */
  letter-spacing: -0.05rem;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

@media (max-width: 576px) {
  body {
    min-width: 300px;
  }

  body > main {
    padding-bottom: 100px;
  }

  .main-page {
    padding-top: 40px;
  }
}

@media (min-width: 576px) {
  .main-page {
    padding-top: 70px;
  }
}

@media (min-width: 992px) {
  .main-page {
    padding-top: 140px;
  }

  .title {
    padding-left: 30px;
    top: 205px;
  }
}

@media (min-width: 1200px) {
  .title {
    margin-right: 70px;
    border-right: #e0e0e0 2px solid;
  }
}

/* Page Styles
------------------------- */

.title {
  padding-top: 8px;
  padding-bottom: 10px;
  margin-bottom: 6%;
}

.upper {
  position: absolute;
  z-index: 600;
}

.upper-lg {
  padding-bottom: 14px;
}

.upper-sm {
  padding-bottom: 10px;
}

.lower {
  position: absolute;
  z-index: 500;
  color: #e0e0e0;
}

.lower-lg {
  padding-top: 14px;
  padding-left: 15px;
}

.lower-sm {
  padding-top: 10px;
  padding-left: 15px;
}

.helper {
  z-index: 400;
  visibility: hidden;
  color: #ffffff;
}

.helper-lg {
  padding-top: 7px;
  padding-bottom: 7px;
}

.helper-sm {
  padding-top: 5px;
  padding-bottom: 5px;
}

.space {
  margin-left: 5px;
}

.lang-select {
  min-width: 90px;
  line-height: 24px;
  font-size: 15px;
}

.navbar-brand {
  font-family: Sabon, serif;
}

.upper-cn {
  font-family: QiSubsets, sans-serif;
}

.upper-en {
  font-family: FrutigerBold, sans-serif;
}

.lower-en {
  font-family: BernierRegular, sans-serif;
}

.name {
  margin-bottom: 25px;
}

.name-mu {
  margin-left: 6px;
  zoom: 0.8;
  vertical-align: middle;
}

.name-han {
  margin-left: 4px;
  zoom: 1.1;
  vertical-align: middle;
}

.body-color {
  color: #5a5a5a !important;
}

.gray-scale {
  filter: grayscale(100%);
}

@media (max-width: 719px) {
  .name {
    zoom: 1.2;
    margin-bottom: 20px;
    margin-left: -3px; /* lower padding 15px*1.2 = 18px */
  }

  .upper-lg {
    padding-bottom: 10px;
  }

  .lower-lg {
    padding-top: 10px;
    padding-left: 15px;
  }

  .helper-lg {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

@media (min-width: 576px) {
  .move-right {
    padding-left: 40px;
  }

  .move-left {
    margin-left: -15px;
  }

  .title {
    padding-left: 13px;
  }
}

.subtitle-gap {
  margin-top: 6%;
}

#top {
  padding: 10px 30px;
  margin-right: -30px;
}
