:root {
    --toc-color: #4A77B5;
}

@media (prefers-color-scheme: dark) {
:root {
    --toc-color: #7B9BC2;
}
}

// toggle hider title
.hider_title {
    cursor: pointer;
    background: #eeeeee;
}

// toggle indicators
.close:before {
    padding-left: .5em;
    padding-right: .5em;
    content: "▼";
}
.open:before {
    padding-left: .5em;
    padding-right: .5em;
    content: "▲";
}

// inline code
p code, .hider_title code {
    color: #c71585;
    background: #fffafa;
    margin: 2px;
}
